html,
body {
    min-height: 100%
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    background-color: rgb(49, 0, 0);
}

#canvas {
    min-width: 1000px;
    min-height: 600px
}

#legend {
    min-width: 1000px;
    min-height: 300px;
}

#tooltip {
    visibility: hidden;
}